<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tesadüf Sayacı</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    @RenderBody()


    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@
    <!--===============================================================================================-->
    @*<script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <!--===============================================================================================-->
    @*<script src="vendor/select2/select2.min.js"></script>*@

    <script>
                    //$('.cd100').countdown100({
                    //    /*Set Endtime here*/
                    //    /*Endtime must be > current time*/
                    //    endtimeYear: 0,
                    //    endtimeMonth: 0,
                    //    endtimeDate: 35,
                    //    endtimeHours: 18,
                    //    endtimeMinutes: 0,
                    //    endtimeSeconds: 0,
                    //    timeZone: ""
                    //    // ex:  timeZone: "America/New_York"
                    //    //go to " http://momentjs.com/timezone/ " to get timezone
                    //});
    </script>
    <!--===============================================================================================-->
    @*<script src="vendor/tilt/tilt.jquery.min.js"></script>*@
    @*<script>
                    //$('.js-tilt').tilt({
                    //    scale: 1.1
                    //})
    </script>*@
    <!--===============================================================================================-->
    @*<script src="js/main.js"></script>*@

</body>
</html>